h1 {
    color: rgb(4, 4, 36);
    text-align: center;
    }

    h2 { 
        color: rgb(2,3,5);
        text-align: center;

    }
    p {
    color: rgb(136, 7, 28);
    text-align: center;
    }